@model project03.Models.entiy.LICHSUMUA

@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

<h2>Chi Tiết Đơn Hàng</h2>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDTAIKHOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTAIKHOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDSANPHAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDSANPHAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIANMUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIANMUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SODIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SODIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENSANPHAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSANPHAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHANG }) |
    @Html.ActionLink("Back to List", "QuanLiDonHang")
</p>
