
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-pencil primary font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3>@TempData["hangchuasuli"]</h3>
                                    <span>Đơn Hàng Chưa Sử Lí</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-speech warning font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3>
                                        @{
                                            double a = double.Parse(TempData["TongTien_hang"].ToString());
                                            string formattedTongTien = a.ToString("N0"); // Chuyển đổi và định dạng tổng tiền
                                        }
                                        @formattedTongTien VND
                                    </h3>
                                    <span>Tổng Tiền Hàng Đã Bán tháng hiện tại</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-graph success font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3> @TempData["DonHangDaHoanThanh"]</h3>
                                    <span>Đơn Đã Hoàn Thành tháng hiện tại</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-user success font-large-2 float-right"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3> @TempData["luongtruycap"]</h3>
                                    <span>lượt truy cập tháng hiện tại</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-direction danger font-large-2 float-right"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3> @TempData["khachhang"]</h3>
                                    <span>số khách hàng đăng kí </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-cup success font-large-2 float-right"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3> @TempData["Hop"]</h3>
                                    <span>Hộp thư đến trong ngày</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
