@model IEnumerable<project03.Models.entiy.LICHSUMUA>

@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Đơn Hàng</h2>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TENSANPHAM)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.THOIGIANMUA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SODIENTHOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.GIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </th>
        <th>
            Đã nhận hàng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENSANPHAM)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.THOIGIANMUA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SODIENTHOAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            @* <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GIA)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.Raw(item.TRANGTHAI == "đã hoàn thành" ? "<span style='background:green'>" + item.TRANGTHAI + "</span>" : item.TRANGTHAI)

            </td>
            <td>
                @if (item.TRANGTHAI == "đang giao")
                {
                    <form action="/Shop/SuLiDon" method="post">
                        <input name="donhang" value="4" hidden />
                        <input name="IDHANG" value="@item.IDHANG" hidden />
                        <input type="submit" value="Đã nhận hàng" />
                    </form>
                }
                <button>
                    @Html.ActionLink("xem chi tiết", "ChiTietDonHang", new { id = item.IDHANG }) |
                </button>
            </td>
        </tr>
    }

</table>
@if (TempData["page_donhang"] != null)
{
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <ul class="pagination">
                    <li> <a href="#"><<</a> </li>
                    @for (int i = 1; i <= int.Parse(TempData["page_donhang"].ToString()); i++)
                    {
                        <li> <a href="/Shop/Donhang_page?page=@i">@i</a> </li>
                    }
                    <li> <a href="#">>></a> </li>
                </ul>
            </div>
        </div>
    </div>
}
