@model IEnumerable<project03.Models.entiy.two>
@{
    ViewBag.Title = "show_card";
    Layout = "~/Views/Shared/index.cshtml";
}
<style>
    .bor {
        border: 1px solid #d7d8d7;
    }
    .mrr{
        margin-top:10px;
    }
</style>
<div class="container mrr">
    <div class="row bor">
        <div class="col-sm-2 "><b>Tên sản phẩm</b></div>
        <div class="col-sm-2 "><b>Giá</b></div>
        <div class="col-sm-1 "><b>Ảnh</b></div>
        <div class="col-sm-2 "><b>Số Lượng</b></div>
        <div class="col-sm-2 "><b>Hành động</b></div>
        <div class="col-sm-1 "><b>Tổng tiền</b></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row bor">

            <div class="col-sm-2">@item.name</div>
            <div class="col-sm-2 ">@item.gia VNĐ</div>
            <div class="col-sm-1"><img src="~/Content/images/@item.anh" alt="Alternate Text" /></div>
            <div class="col-sm-2 ">
                <form action="/shop/update_soluong" method="post">
                    <input type="text" hidden name="IDHANG" value="@item.id_hang" />
                    <input type="text" hidden name="IDSANPHAM" value="@item.id_sp" />
                    <input min="1" style="width:50%" type="number" name="SOLUONG" value="@item.soluong" />
                    <input type="submit" value="update" />
                </form>
            </div>
            <div class="col-sm-2">
                <form action="/shop/delete_item_cart" method="post">
                    <input type="text" hidden name="IDHANG" value="@item.id_hang" />
                    <input type="submit" value="delete" />
                </form>
            </div>
            <div class="col-sm-2 total_item"><b> @(item.gia * item.soluong)</b></div>
        </div>
    }
 </div>
@*phần thanh toán*@
<div style="margin-top:10%;line-height:300%" class="Container bg-info">
    <div class="row">
        <div class="col-sm-6 ">
            <b>Thành tiền</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <b>Tổng tiền hàng</b>
        </div>
        <div id="total_all_item" class=" col-sm-3">

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-3">
            <b>phí vận chuyển</b>
        </div>
        <div class=" col-sm-3">
            <b>miễn phí vận chuyển</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 ">
            <b>Tổng thanh toán</b>
        </div>
        <div id="sum_thanh_toan" class="border-bottom col-sm-3">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 ">
            <b>Hình thức thanh toán</b>
        </div>
        <div id="" class="border-bottom col-sm-3">
            <label>Thanh toán khi nhận hàng</label>
            <input name="hinhthuc" checked type="radio" value="1" />
            <label>Chuyển khoản</label>
            <input name="hinhthuc" type="radio" value="0" />
        </div>
        <div id="cardonline" class="border-bottom col-sm-4" style="visibility: hidden;">
             <p>số tài khoản : 1222222222</p>
              <p>ngân hàng : viettibank</p>
              <p>chủ tài khoản : nguyễn văn thắng</p> 
               <p>nội dung chuyển khoản : thanh toán đặt hàng online</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            @if (int.Parse(Session["sum_item_car"].ToString()) > 0)
            {
                <p style="color: white"> <button class="btn btn-success"> @Html.ActionLink("Đặt Hàng", "thanhtoan", "shop") </button> </p>
            }
        </div>
    </div>
</div>
@*end phần thanh toán*@
<script>
    function tinhtien() {
        var total_all_item = $(".total_item");
        var s = 0;
        for (var i = 0; i < total_all_item.length; i++) {
            s = s + Number(total_all_item[i].innerText);
        }
        $("#total_all_item").html("<b>" + s + " VNĐ</b>")
        //thanh toan
        $("#sum_thanh_toan").html("<b>" + s + " VNĐ</b>")


    }
    tinhtien();

    $(document).ready(function () {
        // Sử dụng sự kiện change trên các radio button có name là "hinhthuc"
        $('input[name="hinhthuc"]').change(function () {
            // Lấy giá trị của radio button được chọn
            var selectedValue = $('input[name="hinhthuc"]:checked').val();

            // Nếu giá trị là 0, hiển thị phần có id là "cardonline", ngược lại ẩn đi
            if (selectedValue === "0") {
                $('#cardonline').css('visibility', 'visible');
            } else {
                $('#cardonline').css('visibility', 'hidden');
            }
        });
    });

</script>


